<div class="top-container container">
    <div class="cursor-pointer" *ngFor="let toast of toastService.topToasts" (click)="toastService.remove(toast)">
        <ngb-toast [class]="'toast-container ' + toast.classname" [header]="toast.header" [autohide]="true"
                   [delay]="toast.delay">
            {{toast.message}}
        </ngb-toast>
    </div>
</div>

<div class="bottom-container container cursor-pointer">
    <div class="cursor-pointer" *ngFor="let toast of toastService.bottomToasts" (click)="toastService.remove(toast)">
        <ngb-toast [class]="'toast-container ' + toast.classname"
                   [header]="toast.header" [autohide]="true" [delay]="toast.delay">
            {{toast.message}}
        </ngb-toast>
    </div>
</div>
