/* :host{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    z-index: 1200;
} */
.container {
    position: fixed;
    margin: 0.5em;
    right: 10px;
    width: 20vw;
}

.top-container {
    top: 0;
    z-index: 1201;
}

.bottom-container {
    bottom: 0;
    z-index: 1200;
}

::ng-deep .toast-header .close {
    margin-left: 0!important;
    margin-right: auto!important;

}

::ng-deep .toast-header strong {
    margin-right:0!important;
}
