<div class="align-items-center justify-content-center row g-0 vh-100">
    <div class="card bg-secondary bg-opacity-25 rounded-1 col-11 col-sm-10 col-lg-8 col-xl-6 col-xxl-4">

        <div class="card-header bg-transparent border-0 text-center text-secondary">
            <h1>LOGIN</h1>
        </div>

        <div class="card-body">

            <form [formGroup]="loginFormControl" (ngSubmit)="onSubmitLoginForm()" role="form">

                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email</label>
                    <input [ngClass]="{'is-invalid': loginFormControl.touched && loginFormControl.controls.email.errors}" formControlName="email" type="email" class="form-control" id="loginEmail" placeholder="sample@gmail.com">

                    <!--email validation -- start -->
                    <div *ngIf="loginFormControl.controls.email.errors && loginFormControl.controls.email.errors['email']" class="invalid-feedback">
                        Please enter the correct email.
                    </div>

                    <div *ngIf="loginFormControl.controls.email.errors && loginFormControl.controls.email.errors['required']" class="invalid-feedback">
                        Please enter the email.
                    </div>
                    <!--email validation -- end -->

                </div>

                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input [ngClass]="{'is-invalid': loginFormControl.touched && loginFormControl.controls.password.errors}" formControlName="password" type="password" class="form-control" id="loginPassword">

                    <!--password validation -- start -->
                    <div *ngIf="loginFormControl.controls.password.errors && loginFormControl.controls.password.errors['required']" class="invalid-feedback">
                        Please enter the password.
                    </div>
                    <!--email validation -- end -->

                </div>

                <div class="d-grid pt-3">
                    <!--<button type="submit" class="btn btn-primary" [disabled]="!loginFormControl.valid">Login</button>-->
                    <button type="submit" class="btn btn-primary" [disabled]="!loginFormControl.touched">Login</button>
                </div>

            </form>

            <div class="mt-2">
                Don’t have account? <a class="text-decoration-none text-reset fw-bold" [routerLink]="['/register']">Register Now</a>
            </div>

        </div>

        <loading [loading]="loading"></loading>

    </div>
</div>